<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<false/>
	<key>developmentAppKey</key>
	<string>mrUA6v29S_qi2NrV_avUsA</string>
	<key>developmentAppSecret</key>
	<string>mVtZIrpMRjuaug4RdNdwOw</string>
</dict>
</plist>
